<div class="pos-footer">
 
<div class="pos-actions">
    <button class="pos-btn pos-btn-finalizar" (click)="finalizarVenda()">Finalizar Venda</button>
    <button class="pos-btn pos-btn-cancelar" (click)="cancelar()">Cancelar</button>
  </div>
  <div class="pos-summary">
    <div class="pos-summary-item">
      Itens: {{ (produtos$ | async)?.length ?? 0 }}
    </div>
    <div class="pos-summary-item">
      Total: R$ {{ getTotal((produtos$ | async) ?? []) | number:'1.2-2' }}
    </div>
    <div class="pos-summary-item">
      Valor recebido:
      <input type="number" min="0" class="pos-input valor-recebido" [(ngModel)]="valorRecebido" />
    </div>
    <div class="pos-summary-item troco">
      Troco: <span>R$ {{ getTroco((produtos$ | async) ?? []) | number:'1.2-2' }}</span>
    </div>
  </div> 
  
</div>
