
  <!-- Coluna direita: lista de produtos -->
    <div class="pos-products-card" style="flex:2;min-height:600px;max-height:600px;background:#fff;padding:16px;min-width:340px;display:flex;flex-direction:column;position:relative;">
      <div style="display:flex;flex-direction:column;height:100%;">
        <!-- Cabeçalho da lista -->
        <div style="display:flex;align-items:center;margin-bottom:8px;padding-bottom:8px;font-weight:bold;color:#1976d2;border-bottom:1px solid #e0e0e0;position:sticky;top:0;z-index:2;background:#fff;">
          <span style="width:80px;text-align:center;display:inline-block;">ID</span>
          <span style="width:200px;text-align:center;display:inline-block;position:relative;left:-12px;">PRODUTO</span>
          <span style="width:120px;text-align:center;display:inline-block;position:relative;left:-12px;">PREÇO</span>
          <span style="width:100px;text-align:left;display:inline-block;position:relative;left:48px;">QTD</span>
          <span style="width:140px;text-align:center;display:inline-block;">TOTAL</span>
        </div>

        <!-- Itens da lista -->
        <div style="overflow-y:auto;max-height:340px;display:flex;flex-direction:column;">
          <div style="display:flex;align-items:center;margin-bottom:18px;padding-bottom:8px;">
            <span style="width:80px;font-weight:bold;text-align:center;display:inline-block;">-</span>
            <span style="width:200px;text-align:center;display:inline-block;">-</span>
            <span style="width:120px;text-align:center;display:inline-block;">R$ -</span>
            <span style="width:32px;text-align:center;font-weight:bold;display:inline-block;">x</span>
            <span style="width:100px;text-align:left;display:inline-block;position:relative;left:48px;">-</span>
            <span style="width:140px;text-align:center;display:inline-block;">R$ -</span>
          </div>
          <div style="display:flex;align-items:center;margin-bottom:18px;padding-bottom:8px;">
            <span style="width:80px;font-weight:bold;text-align:center;display:inline-block;">-</span>
            <span style="width:200px;text-align:center;display:inline-block;">-</span>
            <span style="width:120px;text-align:center;display:inline-block;">R$ -</span>
            <span style="width:32px;text-align:center;font-weight:bold;display:inline-block;">x</span>
            <span style="width:100px;text-align:left;display:inline-block;position:relative;left:48px;">-</span>
            <span style="width:140px;text-align:center;display:inline-block;">R$ -</span>
          </div>
           <app-opcoes-venda></app-opcoes-venda>
        </div>