.p-nome{
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
    margin-bottom: 25px;
    padding: 5px;
    font-weight: bold;
}

.p-values{
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    height: 84px;
    text-align: center;
    
}
.p-header{
    background-color: rgb(60, 163, 0);
    height: 23px;
    width: 100% !important;
    display: block;
    margin: 0;
    padding: 2px 8px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: start;
    font-size: 15px;
    font-weight: bold;
}
.p-values-2{
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    height: 70px;
    margin-bottom: 20px;
    width:250px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.p-img{
    background-color: white;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    
}

.spacer{
    width: 10px;
}
