.p-header{
    background-color: rgb(60, 163, 0);
    height: 25px;
    width: 100% !important;
    display: block;
    margin: 0;
    padding: 2px 8px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.p-values{
    background-color: white;
    height: 80px;
    border-radius: 5px;
}